/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: blue;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .techTree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr; /* Adjust row heights as needed */
  }
  
  .apNode {
    grid-column: 2 / 3;
  }
  
  .hpNode {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .attNode {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .defNode {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }