/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: darkcyan;
    color: whitesmoke;
  }

  h1 {
    color: blue;
    text-align: center;
  }
  
  .disclaimer {
    color: darkred;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .tech-tree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr; /* Adjust row heights as needed */
    gap: 10px; /* Optional: adds spacing between grid items */
    max-width: 700px;
  }
  
  .apNode {
    grid-column: 2 / 3;
  }
  
  .hpNode {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .attNode {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .defNode {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .tech-node {
    border: 3px solid darkblue;
    font-weight:600;
    background-color: darkcyan;
  }

  .select-div {
    display: flex;
    justify-content: center;
  }

  label {
    display: flex;
    justify-content: center;
  }